.button1{
    width: 110px;
    margin: 0 auto;   
    border:1px solid black;
    text-align: center;
    font-size: 25px;
    background-color: aqua;
    color:aliceblue;
    cursor: pointer;
}

